body {
    font-family: "Figtree", sans-serif;
    margin: 0;
    padding: 20px;
    background-color: hsl(47, 88%, 63%);
}

.card {
    display: grid;
    align-content: center;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px 0;
    background-color: #fff;
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    box-sizing: border-box;
}

.main-image {
    width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

h1 {
    font-size: .8em;
    font-weight: 800;
    background-color: hsl(47, 88%, 63%);
    width: fit-content;
    padding: 7px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

h2 {
    font-size: 1.3em;
    font-weight: 800;
}

h2:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

p {
    font-size: 16px;
}

.date {
    font-weight: 500;
    color: hsl(0, 0%, 7%);
}

.description {
    font-weight: 500;
    color: hsl(0, 0%, 42%);
}

.author-info {
    display: flex;
    align-items: center;
    margin-top: 30px;
    font-weight: 800;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 400px) {
    .card {
        padding: 10px;
        width: 95%;
        margin: 10px auto;
    }

    h1 {
        font-size: 0.875em;
    }

    h2 {
        font-size: 1em;
    }

    p {
        font-size: 14px;
    }

    .author-info {
        margin-top: 20px;
    }

    .avatar {
        width: 40px;
        height: 40px;
    }
}

img {
    max-width: 100%;
    height: auto;
}